body {
    background: url('../img/background1.jpg') no-repeat 50% 0% fixed;
    background-size: 100%; 

    background: url('../img/background1.jpg') no-repeat center center fixed;

   -webkit-background-size: cover;  
  -moz-background-size: cover;  
  -o-background-size: cover;  
  background-size: cover;  
  -ms-
}


h1{
	font-size: 60px;
	color: white;
}

h4{

	font-size: 26px;
	color: white;

}